/* add to every css styling, universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page-wrapper {
    width: 80vw; /* 80% of view width */
    margin: 0 auto;
}
#nav-main {
    width: 100%; /* 80% of parent, whicih is 80vw*/
    display: flex;
    flex-direction: row;
}
#large-link{
    font-size: large;
    text-decoration: none;
    color: black;
}
#large-link a:link{
    color: black
}
#large-link a:visited{
    color: black
}
body {
    font-family: georgia, serif;
    background-color: rgb(167, 187, 240);
}
h1 {
    font-size: 150%;
}   
h2 {
    font-size: 120%;
    font-weight: 200%;
}
h3 {
    font-family: 'Battambang';
}
h4 {
    font-family: 'Battambang';
    font-size: 125%;
    font-weight: 120;
}
header {
    justify-content: center;
    background-color: darkslategray;
    color: #faf9ed;
    padding: 10px;
}
footer {
    background-color: darkslategray;
    padding: 1%;
    width: 100%;
    color: #faf9ed;
    text-align: center;  
}
footer a{
    color: #faf9ed;
}
nav {
    background-color: #faf9ed;
    width: auto;
    min-width: 150px;
    max-width: 250px;
    color: darkslategray;
    height: 100;
    text-decoration: none;
}
nav ul {
    list-style: none; /* no bullets */ 
    display: flex;
    color: darkslategray;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}
nav li {
    font-weight: bold;
    color: darkslategray;
    text-decoration: none;
}
nav a {
    display: block;
    text-decoration: none;
    color: darkslategray;
}
main {
    font-family: 'Battambang';
    width: 70%;
    min-height: 100vh;
    padding: 2%;
    padding-left: 10px;
    font-size: calc(2px + 1.75vh);
    line-height: 1.75;
}
main img{
    max-width: 30%;
}
#calc {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 40 auto;
    gap: 16px;
}
#calc button {
    height: 40px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid darkslategray;
    background-color: slategray;
    color: white;
    text-align: center;
    margin: 4px;
}        
#calc .boxes {
    border: 4px solid darkslategray;
    width: 350px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: georgia;
    background-color: slategray;     
}
@media screen and (max-width: 750px) {
    #nav-main{
        flex-direction: column;
    }
    nav, main{
        width: 100%;
        max-width: none;
    }
    nav ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    nav li{
        width: 18%;
        margin: 2%;
    }
    header{
        text-align: center;
    }
    main{
        min-height: 100vh;
        padding-bottom: 10px;
    }
}
#extra li {
    list-style: none; /* no bullets */ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding-left: 5%;
    line-height: 2.5;
    padding-bottom: 2%;
}
#edu {
    width: 100%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#edu li{
    list-style: none; /* no bullets */
    height: 100%;
    padding-left: 5%;
    line-height: 2;
}
#index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#employ {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#employ ul {
    height: 100%;
    padding-left: 5%;
    line-height: 2;
}
#resources{
    height: 80%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#resources a, #resources a:visited{
  background-color: slategray;
  color: #faf9ed;
  border: #faf9ed;
  border-radius: 5px;
  padding: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}