/* add to every css styling, universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* add classes if you want colors to be different */

body {
    background-color: rgb(175, 196, 251);
}
h1 {
    color: navy;
}
nav {
    background-color: darkslategray;
    padding: 10px;
    border: 2px;
    border-color: lightgray;    
}
footer {
    position: fixed;
    background-color: darkslategray;
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;    
}

/*
(calc)
body {
            background-color: rgba(216, 248, 232, 0.99);
        }

        h1 {
            font-family: georgia;
            font-size: 150%;
            color: darkgreen;
            text-align: left;
                
        }
        
        button {
            height: 40px;
            width: 60px;
            border-radius: 5px;
            border: 1px solid green;
            font-size: px;
            font-family: georgia;
            background-color: darkseagreen;
            color: white;
            text-align: center;
            }
        
        
        
        .boxes {
            border: 4px solid green;
            width: 300px;
            height: 100px;
            text-align: center;
            font-size: 40px;
            color: white;
            font-family: georgia;
            background-color: darkseagreen;     }