/* add to every css styling, universal selector */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#page-wrapper {
    width: 80vw; /* 80% of view width */
    margin: 0 auto;
}
#nav-main {
    width: 100%; /* 80% of parent, whicih is 80vw*/
    display: flex;
    flex-direction: row;
}
#large-link{
    font-size: large;
    text-decoration: none;
    color: black;
}
#large-link a:link{
    color: black
}
#large-link a:visited{
    color: black
}
body {
    font-family: georgia, serif;
    background-color: rgb(167, 187, 240);
}
h1 {
    font-size: 150%;
}
h3 {
    font-family: georgia, serif;
}
h4 {
    font-family: 'Times New Roman', serif;
    font-size: 125%;
    font-weight: 120;
}
header {
    justify-content: center;
    background-color: darkslategray;
    color: #faf9ed;
    padding: 10px;
}
footer {
    background-color: darkslategray;
    padding: 10px;
    width: 100%;
    color: #faf9ed;
    text-align: center;
    padding: 10px;   
}
nav {
    background-color: #faf9ed;
    width: 20%;
    color: darkslategray;
    height: 100;
    text-decoration: none;
}
nav ul {
    list-style: none; /* no bullets */ 
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
nav li {
    font-weight: bold;
    color: darkslategray;
    text-decoration: none;
}
nav a {
    transition: color 0.2s ease;
    text-decoration: none;
    color: darkslategray
}
nav a:hover {
    color: slategray;
}
nav a:link{
    text-decoration: none;
    color: darkslategray
}
nav a:visited{
    text-decoration: none;
    color: darkslategray
}
main {
    width: 70%;
    min-height: 100vh;
    padding: 2%;
    padding-left: 10px;
    padding-bottom: 80px;
    font-size: calc(2px + 1.5vh);
    line-height: 1.75;
}
main img{
    max-width: 30%;
}
#calc {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 40 auto;
    gap: 16px;
}
#calc button {
    height: 40px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid darkslategray;
    background-color: slategray;
    color: white;
    text-align: center;
    margin: 4px;
}        
#calc .boxes {
    border: 4px solid darkslategray;
    width: 350px;
    height: 100px;
    text-align: center;
    font-size: 40px;
    color: white;
    font-family: georgia;
    background-color: slategray;     
}